* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('../images/header.png');
    padding: 175px 307px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkgray;
    background-blend-mode: multiply;


}


.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    font-family: Inter;


}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;


}

.button {
    text-align: center;
}

.btn-primary {

    border-radius: 5px;
    background: #FF5959;
    padding: 16px 12px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: 0;

}

.donate-today {
    margin: 130px 300px;

}

.section-title {
    color: #121212;
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;

}

.section-description {
    color: #707070;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.donate-today-info {
    display: flex;
    gap: 22px;

}

div li {
    list-style: none;
}

.donate-btn {
    height: 123px;
    border-radius: 5px;
    background: #FAFAFA;
    color: #707070;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    border: 0;
    padding: 43px 23px;
}

.donate-btn .four {

    padding: 43px 12px;

}

.donate-btn .five {

    padding: 43px 12px;

}

.contact-btn-different {
    border-radius: 5px;
    border: 2px solid #FF5959;
    background: #FEE;
    color: #FF5959;
    padding: 43px 23px;
}

.dontate-today-amount {
    color: #B3B3B3;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    margin-top: 60px;

}



hr {
    color: #DADADA;
    margin-top: 9px;
    margin-bottom: 30px;
    width: 765px;
}

.donate-plan {
    margin-top: 130px;
    margin-left: 200px;
    margin-right: 200px;

}

.donate-plan-container {
    display: flex;
    gap: 24px;
}

.plan {
    padding: 54px 22px;
    border-radius: 5px;
}

.plan.one {

    background: #4F9DA61A;
}

.plan.two {
    background-color: #FF59591A;
}

.plan.three {
    background-color: #FFF4D6;
}

.plan .title {
    color: #121212;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 16px;
}

.plan .description {
    color: #707070;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.donation-section {
    margin: 110px 230px 150px 150px;
}

.donation-container,
.survive-container {
    display: flex;
    align-items: center;
    gap: 94px;
}

.section-title.donation,
.section-title.survive {
    text-align: left;
}

.section-description.donation,
.section-description.survive {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.donation-container img,
.survive-container img {
    border-radius: 5px;
}

.survive-section {
    margin-right: 250px;
    margin-left: 130px;
    margin-bottom: 150px;
}


.update-section {
    margin-right: 315px;
    margin-left: 315px;
    margin-bottom: 130px;
}

.form-background {
    background: #FFF4D6;
    padding: 76px 188px 76px 140px;
    display: flex;
    gap: 0;
}

.mail,
.subscribe {
    border: 0;
}


.mail {
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    width: 275px;
    height: 48px;
    color: #AA9F9F;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 218px 14px 17px; 


}

.subscribe {

    color: #FFF;
    padding: 14px 42px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0px 5px 5px 0px;
    background: #FF5959;
    width: 157px;
    height: 48px;


}

footer{
padding: 43px 500px 42px 500px;
background:  #0B0D17;

}

.humble {
    text-align: center;
    color: #FF5959;
    font-family: Lobster;
    font-size: 36px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}

.do-it {
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}